# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#custom
.ccls-cache/
.git
main
Makefile
.replit
replit.nix
.breakpoints
emp_usingVector.cpp
linkedList_for8yo.cpp
test2.cpp
settings.json